#box-login{
  border: 1px solid black;
  width: 250px;
  height: 200px;
  margin: auto;
  margin-top: 30vh;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 18px;
  
}
#box-login input {
  margin-top: 5px;
}
h2 {
  font-family: Helvetica;
  font-size: 1.8em;
  color: whitesmoke;
}
body{
  background-image: url("poggers.png");
  background-size: cover;
}